.profile__title {
  font-family: 'Inter', 'Times New Roman', 'Arial';
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  color: rgb(255, 255, 255);
  max-width: 294px;
  margin: 0;
  padding-right: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;  
}

@media (max-width: 1023px) {
  .profile__title {
    max-width: 189px;
    font-size: 27px;
    line-height: 1.21;
    text-align: center;
    padding-right: 10px;
  }
}