.footer {
  display: flex;
  width: calc(100% - 31.25%);
  padding: 66px 0 60px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .footer {
    width: 100%;
    padding: 48px 19px 36px;
    box-sizing: border-box;
  }
}