.element {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 282px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}